QWidget{
    background-color: rgb(255, 255, 255);
}

QLineEdit{
    font-family: exo;
    background-color: rgba(220, 220, 220, 0.445);
    border: none;
    border-radius: 10%;
}

QPushButton{
    background-color: rgba(220, 220, 220, 0.445);
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-family: exo
}

QLabel{
    font-family: exo;
}