QWidget{
    background-color: black;
    color: white;

}

QLineEdit{
    color: white;
    font-weight: bolder;
    text-align: right;
    border: none;
    font-size: 20px;
}

QPushButton{
    font-weight: bolder;
    color: white;
    background-color: #161616;
    border-radius: 35%;
    font-size: 20px;
}

QPushButton:hover{
    background-color: rgba(0, 0, 0, 0.658);
}